!!! 5

%html
  %head

    %link{:href => 'favicon.ico', :rel => 'shortcut icon'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister', :rel => 'stylesheet'}

    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}

    %title Hetty de Vries

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'all'

  %body
    .layout-wrap
      %header.mod-header
        %h1 Hetty de Vries
        %h2 dutchie, techie, hippie

      %nav.mod-nav
        %ul
          -# %li= link_to 'Home', '/'
          -# %li= link_to 'About', '/about.html'
          -# %li= link_to 'Work', '/work.html'
          %li
            = partial "contact_icons"

      = yield

      %footer.mod-footer
        %p
          frontend / ruby on rails developer
          %br
          Amsterdam &#8226; The Netherlands

        = partial "contact_icons"
