!!! 5

%html
  %head

    %link{:href => 'favicon.ico', :rel => 'shortcut icon'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister', :rel => 'stylesheet'}

    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}

    %title Hetty de Vries

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'all'

  %body
    .layout-wrap
      %header.mod-header
        %h1 Hetty de Vries
        %h2 Dutchie, techie, hippie

      %nav.mod-nav
        %ul
          -# %li= link_to 'Home', '/'
          -# %li= link_to 'About', '/about.html'
          -# %li= link_to 'Work', '/work.html'
          %li
            %ul.contact_icons
              %li.linkedin= link_to 'linkedin', 'http://nl.linkedin.com/in/hettydevries'
              %li.facebook= link_to 'facebook', 'https://www.facebook.com/hetty82'
              %li.twitter= link_to 'twitter', 'https://twitter.com/hettydevries'
              %li.mail= link_to 'mail', 'mailto:devries@hetty82.nl'

      = yield

      %footer.mod-footer
        %p
          copyright 2014 &copy; Hetty de Vries
          %br
          front-end / ruby on rails developer
          %br
          Amsterdam &#8226; The Netherlands

        %ul
          %li
            %ul.contact_icons
              %li.linkedin= link_to 'linkedin', 'http://nl.linkedin.com/in/hettydevries'
              %li.facebook= link_to 'facebook', 'https://www.facebook.com/hetty82'
              %li.twitter= link_to 'twitter', 'https://twitter.com/hettydevries'
              %li.mail= link_to 'mail', 'mailto:devries@hetty82.nl'

          %li.backtotop= link_to 'back <br />to top', '#'
