%ul.contact_icons
  %li
    = link_to 'http://nl.linkedin.com/in/hettydevries', class: "icon-linkedin" do
      %span LinkedIn
  %li
    = link_to 'https://www.facebook.com/hetty82', class: "icon-facebook" do
      %span Facebook
  %li
    = link_to 'https://twitter.com/hettydevries', class: "icon-twitter" do
      %span Twitter
  %li
    = link_to 'https://github.com/Hetty82', class: "icon-github" do
      %span GitHub

  %li
    = link_to 'mailto:devries@hetty82.nl', class: "icon-mail4" do
      %span E-mail
