%section.layout-right
  %article.mod-article
    %h1 Work
    %p Many projects haven't been published yet but these are a few of them together with some recommendations. Sorry for the mix of languages.

    %h2 Projects

    %h3 AppSignal

    %p
      The biggest project I've been working on has been
      = link_to 'AppSignal.', 'http://appsignal.com'
      It's a complex Ruby on Rails tool for monitoring errors and performance on other Ruby on Rails apps. My job was to:

    %ul
      %li translate the design into modular code
      %li keeping it tidy and maintainable
      %li make it responsive and fast
      %li have it work smoothly with the backend code

    %h3
      = link_to 'SliceCraft', 'http://slicecraft.com'
      projects

    %p
      I've worked on several smaller projects, more and more indepently. Basically turning a psd into clean HTML and CSS. Sometimes a little touch of jQuery. Important was always to keep it modular, dry and a perfect fit for the app behind it. Some examples:

    %ul
      %li= link_to 'So Coded', 'http://socoded.com'
      %li= link_to 'Native Tongue', 'http://nativetongue.com'
      %li= link_to 'QLOO', 'http://qloo.com'
      -# %li= link_to 'Uphex', 'http://uphex.com'
      -# %li= link_to 'Conviro', 'http://conviro.com'

    %p
      Also, I had something to do with some parts of this website
      = link_to 'Richard Dawkins Foundation', 'http://richarddawkins.net'
      and this website&nbsp;
      = link_to 'Book Your Dive', 'http://bookyourdive.com'
      %span> .

    %h3 Private projects
    %p
      For a friend, I build the (still in progress but live) website for his restaurant&nbsp;
      = link_to 'Jan Goos', 'http://bistro-jan-goos.nl'
      %span> .

    %h2 Recommendations
    %p
      In 2012 I started my developer's career as an apprentice at 80beans, working directly with&nbsp;
      = link_to 'Roy Tomeij', 'http://roytomeij.com'
      %span>, my master craftsman.

    %blockquote
      "I met Hetty at one of my workshops and she immediately stood out. Shortly after I had the pleasure of working with her for 6 months as an 'apprentice' (junior developer), after which we promptly offered her a contract and haven't regretted it once. She's a great team player, knows how to code and finds innovative solutions for whatever problem she encounters. Hetty picks up new skills with ease."

      %footer
        August 6, 2013 - Roy Tomeij, founder and front-end architect at
        = link_to '80beans', 'http://80beans.com/en'
        and
        = link_to 'AppSignal', 'http://appsignal.com'

    %p
      At
      = link_to 'K&K Solutions', 'http://k-ksolutions.nl'
      I worked with Wouter Klijnsmit and Pepijn van de Kamp. At K&K Solutions I was responsible for financial planning and administration, HR and legal affairs. I didn't work as a developer but as it was a small company, we got to know each other very well.

    %blockquote
      "Hetty was echt een aanwinst voor het bedrijf. In de periode dat ze bij K&K kwam speelden er diverse vraagstukken op juridisch en organisatorisch gebied. Hetty komt snel tot de kern van de vraag en is zeer proactief in het bieden en implementeren van oplossingen. Mede door de inzet van Hetty hebben we gestructureerd en gedegen kunnen groeien."

      %footer September 10, 2012 - Wouter Klijnsmit, Managing Director at K&K Solutions

    %blockquote
      "Hetty is een echte doorbijter, ze blijft scherp waar anderen focus zouden verliezen, en schept orde in de chaos. Hetty heeft een enorm absorberend vermogen en is in staat om zich in korte tijd heel veel eigen te maken. Tevens is zij in staat een functie niet alleen te vervullen, maar ook te verfijnen. Hetty, het was gaaf met je gewerkt te hebben, we hebben het bedrijf naar een hoger plan getild, ik verwacht dat jij nog een hele mooie carri&egrave;re voor de boeg hebt."
      %footer April 12, 2011 - Pepijn van de Kamp, Project Manager / Lead .NET Developer at K&K Solutions

%aside.layout-left
  %section.mod-skills
    %h1 Skills
    %ul
      %li modulair front-end
      %li semantic HTML(5)
      %li CSS(3)
      %li JavaScript & jQuery
      %li Sass & Compass
      %li Haml
