%section.layout-right
  %article.mod-article
    %h1 Hello

    %p And welcome to my website. Here I will tell you my story. Where I come from, where I am now, and where I intend to go.

    %p Recently, I discovered my new passion. Front-end development. And after learning a lot by myself, I started looking for a place where I could use and develop my skills. Where I could discover and enjoy the power of code. Where I could create nice-working-smooth-feeling-and-beautiful-looking stuff for the web.

    %p
      Happily enough, I have found such a place. Right now I am an apprentice at
      = link_to '80beans', 'http://www.80beans.com/en'
      in Amsterdam. I'll soon add projects and experiences. Please have a look around on my website if you want to get to know me a little bit better.

%aside.mod-photocycle.layout-left
  %figure#portretFader
    = image_tag 'fotohettyA01.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyB01.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyA02.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyB02.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyA03.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyB03.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyA04.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyB04.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyA05.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyB05.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyA06.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyB06.jpg', :class => 'portret', :alt => 'foto Hetty'
