%section.layout-right
  %article.mod-article
    %h1 Hello

    %p My name is Hetty. I am a web developer. And I love being one.

    %p
      I work at
      = link_to "Zilverline", "http://www.zilverline.com"
      and it is awesome there.

    %p
      Before, I worked at
      = link_to "AppSignal", "http://www.appsignal.com"
      and it was awesome there too.

%aside.mod-photocycle.layout-left
  %figure#portretFader
    = image_tag 'fotohettyA01.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyB01.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyA02.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyB02.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyA03.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyB03.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyA04.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyB04.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyA05.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyB05.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyA06.jpg', :class => 'portret', :alt => 'foto Hetty'
    = image_tag 'fotohettyB06.jpg', :class => 'portret', :alt => 'foto Hetty'
